@import 'variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    background-color: $color-site-bg;
    color: $color-page-text;
}
