@import 'variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $font-family-primary;
    font-weight: $font-weight-medium;
    background-color: $color-site-bg;
    color: $color-page-text;
}
.main{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    display: flex;
}

.sidebar-menu{
    width: 306px;
    background-color: $color-white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &__logo{
        display: flex;
        padding-top: 36px;
        padding-left: 28px;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    &__navigation{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 60px;
        &__list{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            &__item{
                max-width: 231px;
                width: 100%;
                border-radius: 8px;
                display: flex;
                position: relative;
                transition: background-color 0.3s, color 0.3s;
                .sidebar-menu__link{
                    padding: 11px;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
                .sidebar-menu__text{
                    color: $color-menu-text;
                }
                .sidebar-menu__icon {
                    color: $color-menu-text;
                }
                &:not(:first-child)::after {
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 4px solid transparent;
                    border-bottom: 4px solid transparent;
                    border-left: 4px solid $color-menu-text; 
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:hover {
                    background-color: $color-hover;
                    .sidebar-menu__link,
                    .sidebar-menu__icon,
                    .sidebar-menu__text {
                        color: $color-white;
                    }
                    &:not(:first-child)::after {
                        border-left-color: $color-white;
                    }
                }               
            }
        }
    }
    &__user-profile{
        display: flex;
        gap: 12px;
        margin-top: auto;
        margin-bottom: 70px;
        .sidebar-menu__user-avatar{
            width: 42px;
            height: 42px;
            border-radius: 25%;
        }
        .sidebar-menu__user-info{
            .sidebar-menu__user-name{
                font-weight: $font-weight-medium;
            }
            .sidebar-menu__user-position{
                font-weight: $font-weight-regular;
                color: $color-menu-text;
            }
        }
    }
}
.customer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 968px;
    max-height: 812px;
    background-color: $color-white;
    margin: 0 auto;
    border-radius: 20px;
    &__header{
        display: flex;
        justify-content: space-between;
        padding-left: 38px;
        padding-right: 53px;
        &-left{
            .customer__header-title{
                font-weight: $font-weight-semi-bold;
            }
            .customer__header-subtitle{
                font-weight: $font-weight-regular;
                color: $color-green-bg;
            }
        }
        &-right{
            display: flex;
            align-items: center;
            .customer__search{
                width: 216px;
                height: 38px;
                border-radius: 10px;
                border: none;
                background-color: $color-search-bg;
            }
        }
    }
    &__body {
        padding: 1rem;
        font-size: 14px;
        color: $color-card-text; 
    }

    &__table {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    &__table-column, &__table-cell {
        padding: 20px;
        border-bottom: 1px solid $color-card-border;
    }

    &__table-column {
        font-weight: bold;
        color: $color-title-text; 
        white-space: nowrap; 
    }

    &__table-cell {
        color: $color-card-text; 
    }
    &__footer{
        display: flex;
        &-info{

        }
        .customer__pagination{

        }
    }
}


