// Color Variables
$color-hover: #5932EA;
$color-active: #16C098;
$color-primary-red: #DF0404;
$color-red-bg: #FFC5C5;
$color-primary-green: #008767;
$color-green-bg: #16C098;
$color-site-bg: #FAFBFF;
$color-white: #FFFFFF;
$color-search-bg: #F9FBFF;

$color-menu-text: #9197B3;
$color-card-text: #292D32;
$color-title-text: #B5B7C0;
$color-page-text: #404B52;

$color-card-border: #EEEEEE;

// Font Variables
$font-family-primary: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;

